:root {
  --bodyBackground: hsl(212, 45%, 89%);
  --headingText: hsl(218, 44%, 22%);
  --intructionsText: hsl(220, 15%, 55%);
  --linkText: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-style: clamp(12px, 1.75vw, 18px);
}

body {
  background-color: var(--bodyBackground);
  font-family: Outfit, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body.superCenter {
  min-height: 100vh;
}

.superCenter {
  display: grid;
  place-items: center;
}

a {
  color: var(--linkText);
}

.white_box {
  display: flex;
  flex-flow: column;
  gap: 0.6em;

  width: min(75%, 365px);
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  background-color: white;

  text-align: center;
}

.white_box img {
  width: 100%;
  border-radius: 1.5rem;
}

.white_box h1 {
  padding-inline: 0.3em;

  color: var(--headingText);
  font-size: 1.4rem;

  font-weight: 700;
}

.white_box p {
  color: var(--intructionsText);
  font-weight: 400;
}

/*footer*/
.attribution {
  position: fixed;
  inset-inline: 0;
  bottom: 0;

  text-align: center;
  font-size: 0.8rem;

  opacity: 50%;
}
