a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

.white_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  max-height: max-content;
  width: 75%;
  max-width: 360px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.qr_img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
  margin: auto auto 30px;
  padding: 5px;
}

.part1 {
  font-family: Outfit;
  font-weight: 700;
  font-size: 1.75em;
  color: hsl(218, 44%, 22%);
  padding: 0px 9px 0px;
  margin-bottom: 20px;
  text-align: center;
}

.part2 {
  font-family: Outfit;
  font-weight: 400;
  font-size: 1.25em;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 0px 15px 0px;
  margin-bottom: 45px;
}

/*footer*/
.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 25%;
  font-family: Outfit;
  font-size: 11px;
}
